---
layout: default
---

{% include head.html %}

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      {{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>

<style>
 td {
   border-style:solid;
   padding-left:2px;
  }
  th {
   border-style:solid;
   padding-left:2px;
  }
</style>


<section class="faq">
  <div class="container">
   <h1 class="text-center">Schedule (subject to change)</h1>
    <table style="border-style:solid !important; width:60%; margin: 0 auto;">
      <tr>
        <th><h2>Time</h2></th>
        <th><h2>Event</h2></th>
      </tr>
      <tr>
        <td><p>9:00 AM</p></td>
        <td><p>Registration + Team Registrations (ICT 102)</p></td>
      </tr>
      <tr>
        <td><p>11:00 AM</p></td>
        <td><p>Opening Ceremonies (ICT 102)</p></td>
      </tr>
      <tr>
        <td><p>11:30 AM</p></td>
        <td><p>TELUS set-up + tutorial + lunch + team registrations cont' (ICT 102)</p></td>
      </tr>
      <tr>
        <td><p>1:00 PM</p></td>
        <td><p>Competition begins (MS labs)</p></td>
      </tr>
      <tr>
        <td><p>6:00 PM</p></td>
        <td><p>Dinner (ICT 102)</p></td>
      </tr>
      <tr>
        <td><p>12:30 AM</p></td>
        <td><p>Midnight snack - pizza (MS 130)</p></td>
      </tr>
      <tr>
        <td><p>8:00 AM</p></td>
        <td><p>Simple breakfast (MS 130)</p></td>
      </tr>
      <tr>
        <td><p>12:00 PM</p></td>
        <td><p>Lunch (ICT 102)</p></td>
      </tr>
      <tr>
        <td><p>1:00 PM</p></td>
        <td><p>Competition Ends + judging set-up begins (ICT 116)</p></td>
      </tr>
      <tr>
        <td><p>2:00 PM</p></td>
        <td><p>Science fair-styled preliminary judging (ICT 116) [*OPEN TO PUBLIC*]</p></td>
      </tr>
      <tr>
        <td><p>3:30 PM</p></td>
        <td><p>Preliminary judging ends</p></td>
      </tr>
      <tr>
        <td><p>4:00 PM</p></td>
        <td><p>Panelist-styled judging - finals (ICT 102)</p></td>
      </tr>
      <tr>
        <td><p>5:00 PM</p></td>
        <td><p>Break / Judges deliberation</p></td>
      </tr>
      <tr>
        <td><p>5:30 PM</p></td>
        <td><p>Closing Ceremonies / Winner announcements (ICT 102)</p></td>
      </tr>
          </table>
  </div>
  <div class="container">
  <h1 class="text-center">Location</h1>
    <img src="images/map.JPG" style="width:60%; margin: auto;" />
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">Sponsors</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a href="http://get.tech/" target="_blank">
        <img src="images/logos/tech.png" style="width:80%; height:80%;"/>
        </a>
      </div>
       <div class="col-xs-12 col-sm-4">
        <a href="https://www.ucalgary.ca/cpsc/" target="_blank">
        <img src="images/logos/uc.png"/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://csus.cpsc.ucalgary.ca/" target="_blank">
        <img src="images/logos/csus.png" style="margin-top:30%;"/>
        </a>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 pull-right">
        <a href="http://www.telus.ca/" target="_blank">
        <img src="images/logos/telus.png" style="width:80%; margin-top:18%;"/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="https://www.ucalgary.ca/science/ideas_fund" target="_blank">
        <img src="images/logos/IDEAS Fund Logo.png" style="width:80%;"/>
        </a>
      </div>
      </div>
    </div>
  </div>
</section>
