---
layout: default
---

{% include head.html %}

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      {{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>
<!--
<section class="info">
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>-->

<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">Sponsors</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <a href="http://www.ge.com/ca/en/customer-innovation-centre" target="_blank">
        <img src="images/logos/ge.png" style="width:80%; height:80%;"/>
        </a>
      </div>
       <div class="col-xs-12 col-sm-4">
        <a href="https://www.ucalgary.ca/cpsc/" target="_blank">
        <img src="images/logos/uc.png"/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://csus.cpsc.ucalgary.ca/" target="_blank">
        <img src="images/logos/csus.png" style="margin-top:30%;"/>
        </a>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 pull-right">
        <a href="http://www.clientspectrum.com/" target="_blank">
        <img src="images/logos/cs.png" style="width:80%; margin-top:18%;"/>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="http://www.ucalgary.ca/science/" target="_blank">
        <img src="images/logos/fos.png" style="width:80%;"/>
        </a>
      </div>
      </div>
    </div>
  </div>
</section>
